:root {
    --text-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway',sans-serif;

    /* Text colors*/
    --accent-color: #2196F3;
    --main-text-color: #212121;
    --secondary-text-color: #FFF;
    --description-text-color: #757575;

    /* Background colors */
    --main-background-color: #fff;
    --background-color-dark: #2F303A;
    --background-color-light: #F5F4FA;
}

body {
    font-family: var(--text-font);
    color: var(--main-text-color);
    background-color: var(--main-background-color);
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.42px;
}

.link {
    text-decoration: none;
    font-style: normal;
    color: currentColor;
}

/* Studio styles */
/* Header styles */

.header-logo {
    color: #000;
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
}

.logo-accent {
    color: var(--accent-color);
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    font-family: var(--secondary-font);
}

.header-link {
    color: var(--main-text-color);
    font-weight: 500;
    letter-spacing: 0.28px;
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.contact-link {
    color: var(--description-text-color);
    font-weight: 500;
    letter-spacing: 0.28px;
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

/* Main styles */

/* Hero section */

.hero {
    background-color: var(--background-color-dark);
    text-align: center;
}

.hero-title {
    color: var(--secondary-text-color);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.hero-button {
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    border: none;
    cursor: pointer;
}

/* Advantages styles */

.advantage-title {
    font-weight: 700;
    text-transform: uppercase;
}

.advantage-desc {
    color: var(--description-text-color);
    line-height: 1.71; 
}

/* Skils styles */

.skils-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
}

/* Team styles */

.team {
    background-color: var(--background-color-light);
}

.team-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
}

.team-member {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.team-member-desc {
    color: var(--description-text-color);
    text-align: center;
    font-size: 16px;
}

/* Footer styles */

.footer {
    background-color: var(--background-color-dark);
}

.footer-logo {
    color: var(--secondary-text-color);
    font-family: var(--secondary-font);
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
}

.map-link {
    color: var(--secondary-text-color);
    line-height: 1.71px;
    letter-spacing: 0.42px;
}

.map-link:hover,
.map-link:focus {
    color: var(--accent-color);
}

.footer .contact-link {
    color: rgba(255, 255, 255, 0.60);
}

.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}

/* Portfolio styles */

/* Buttons styles */

.button {
    background-color: var(--background-color-light); 
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    border: none;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: var(--accent-color);
}

/* Projects styles */

.progect-name {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
}

.progect-name:hover,
.progect-name:focus {
    color: var(--accent-color);
}

.progect-type {
    color: var(--description-text-color);
    font-size: 16px;
    line-height: 1.87;
}

.progect-type:hover,
.progect-type:focus {
    color: var(--accent-color);
}